
.poppins {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  max-width: 100%;
}

header h1 {
  color:#6070FF;
  font-weight: 700;
  font-size: 18px;;
}
