* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-semi-bold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  max-width: 100%;
  padding: 0 12px 0 12px;
}

header h1 {
  color:#6070FF;
  font-weight: 700;
  font-size: 18px;
}

.fa-solid {
  color: #6070FF;
  font-size: 22px;
}

.headline {
  padding: 150px 12px 100px 12px;
  font-size: 35px;
  line-height: 60px;
  color: #172B4D;
  background-image: url("./images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 40%;
  border: 1px solid red;
  background-color: #fff;
  border-bottom-left-radius: 25px;
}

.headline p {
  color: #344563;
  font-size: 18px;
  line-height: 35px;
  margin: 10px 0 10px 0
}

.headline h2 {
  font-size: 16px;
  color: #7F8CFF;
}

.social-links {
  color: #505F79;
}

.projects-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  align-content: center;
  justify-content: center;
  background-color: #DFE1E6;
  padding-top: 100px;
}

.project {
  padding: 20px;
  background-color: #fff;
  justify-self: right;
  border: 1px solid #DFE1E6;
  border-radius: 5%;
}


.project img {
  width: 295px;
  height: 220px;
  object-fit: cover;
}

.project .details {
  /* border: 1px solid red; */
  display: flex;
  justify-content:baseline
}

.details h3 {
  margin-right: 15px;
}

.project ul {
  display: flex;
  justify-content: space-between;
}

.project ul .role {
  margin-left: 10px;
  margin-right: 25px;
}

.project .technologies {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.technologies li {
  margin-right: 10px;
  color: #6070FF;
  background-color: #EBEBFF;
}
